<form action="/tasks/<%= @task.id %>"
  method="post">
  <input id="hidden"
         type="hidden"
         name="_method"
         value="PATCH">
  <input type="text"
         name="name"
         value="<%= @task.name %>">
  <input type="checkbox"  name="<%= @task.complete %>" id="<%= @task.complete %>" value="<%= @task.complete%>"<%= 'checked' if @task.complete %>>
  <input type="submit"
         value="Save">

</form>
